body{
    color:rgb(255, 255, 255);
    background-color: rgb(6, 53, 49);
    align-content: center;
    text-align: center;
    background-image: url("bg1.png");
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: serif;
    
}
h1,h2,p{
    color: rgb(246, 234, 234);

}
h1{
    
    border:20px rgb(76, 107, 46);
    background-color: rgb(84, 28, 117);
    padding: 30px;
    border-style: double;
    border-color: black;
    outline-style:double ;
    outline-color: blanchedalmond;
    outline-width: thick;
    text-shadow: 2px 2px 5px rgb(250, 133, 244);
}



